.g-1{
  background:#AAF;
  color:#000;
}
.g-2{
  background:#AFA;
  color:#000;
}
.g-3{
  background:#FAA;
  color:#000;
}
.g-4{
  background:#FAF;
  color:#A00;
}
.g-5{
  background:#AFF;
  color:#A00;
}
.g-6{
  background:#FFA;
  color:#A00;
}
.g-7{
  background:#AAF;
  color:#A00;
}
.g-8{
  background:#AFA;
  color:#A00;
}
.g-9{
  background:#FAA;
  color:#A00;
}
.g-10{
  background:#FAF;
  color:#0A0;
}
.g-11{
  background:#AFF;
  color:#0A0;
}
.g-12{
  background:#FFA;
  color:#0A0;
}
.g-13{
  background:#FAF;
  color:#00A;
}
.g-14{
  background:#AFF;
  color:#00A;
}
.g-15{
  background:#FFA;
  color:#00A;
}
