.bz-small-loading,
.bz-loading{
  top: 10px;
  right: 10px;
  z-index: 10000000000000;
  border-width: 6px !important;
  border-style: solid !important;
  border-radius: 50%;
  border-color: rgb(243, 243, 243) rgb(0, 0, 0) !important;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
.bz-small-loading{
  border-width: 3px !important;
  width: 14px !important;
  height: 14px !important;
  margin: 0 3px;
  padding: 0;
}
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); } 
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); } 
  100% { transform: rotate(360deg); }
}

.bz-logo{
  background-image: url(/css/logo-s.png);
}
.bz-computer:before{
  content: "💻";
  font-size:13px;
  position: relative;
  top:-2px;
}
.bz-failed:before{
  content: "💀";
  font-size:11px;
}
.bz-search:before{
  content: "🔎";
  font-size: 13px;
}
.bz-camera-panel{
  border: 1px solid transparent;
}
.bz-camera-panel:hover{
  border: var(--bz-border);
}
.bz-camera-panel:hover:before,
.bz-camera::before{
  content: "📷";
  cursor: pointer;
  background: var(--active-color);
  padding: 2px 2px 3px 3px;
  border-radius: 20px;
  border: var(--bz-border);
  right: 5px;
  top:5px;
  position: relative;
  float: right;
}
.bz-taking-picture{
  color:#000;
  background-color: #FFF;
}

.bz-folder-open:before{
  content:"📂";
  font-size:11px;
}
.bz-folder-close:before{
  content:"🖿";
  font-size:11px;
}
.bz-add-folder:before{
  content:"🗀";
  font-size: 17px;
  position: relative;
  top: -1px;
}
.bz-add-file:before{
  content: "🗋";
  font-size: 20px;
  position: relative;
  top: -2px;
}
.bz-add-folder span,
.bz-add-file span{
  position: absolute;
  margin: 7px -13px;
  font-size: 10px;
}
.bz-add-folder span{
  margin: 4px -15px;
}
.bz-file:before{
  content:"📄";
  font-size:11px;
}
.bz-refresh{
  transform: rotate(90deg);
}
.bz-refresh:before{
  content:"⭮";
  font-weight: bold;
  font-size:13px;
  position: relative;
}
.bz-save:before{
  content:"💾";
  font-weight: bold;
  font-size:13px;
}
.bz-forward:before{
  content:"⮞";
  font-size: 13px;
  position: relative;
  top: -1px;
}
.bz-plus:before{
  content:"🞤";
  font-size: 13px;
  position: relative;
  top: -1px;
}
.bz-copy:before{
  content:"⬜";
  font-size: 9px;
  position: relative;
  top: -3px;
  left: 6px;
}
.bz-copy:after{
  content:"⬜";
  font-size: 9px;
  position: relative;
  top: 0px;
  left: -4px;
}
.bz-log:before{
  content:"🧾";
  font-size: 11px;
  position: relative;
  top: -1px;
}
.bz-network:before{
  content:"🖧";
  font-size: 15px;
  position: relative;
  top: -3px;
  background-color: #CCF;
}
.bz-download{
  transform: rotate(180deg);
}
.bz-download:before{
  content:"⇪";
  font-size:15px;
  border-top:2px solid var(--word-color);
}

.bz-open-item{
  transform: rotate(90deg);
}

.bz-open-item:before,
.bz-close-item:before{
  content: "›";
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: -2px;
}

.bz-close:before{
  content: "✖";
  font-size:13px;
  font-weight: bold;
}

.bz-star:before{
  content:"★";
  font-size:15px;
  position: relative;
  top: -1px;
  color:#999;
}

.bz-star.on:before{
  content:"⭐";
}

.bz-delete:before{
  content:"🗑";
  font-size:15px;
  font-stretch: expanded;
}

.bz-delete-pod:before{
  content:"🗑";
  font-size:17px;
  font-stretch: expanded;
  position: relative;
}

.bz-add:before{
  content:"＋";
  font-weight: bold;
  font-size:13px;
  font-stretch: expanded;
}

.bz-setting:before{
  content:"⛭";
  font-size:13px;
}

.bz-cmd:before{
  content:">_";
  font-size:13px;
  font-family: monospace
}

.bz-link:before{
  content:"🔗";
  font-size:11px;
}

.bz-api:before{
  content:"⇄";
  font-size:13px;
}

.bz-play:before{
  content:"▶";
  color:red;
  font-size:13px;
}
.bz-stop:before{
  content:"⏹";
  color:red;
  font-size:13px;
}
.bz-filter{
  position: absolute;
  margin: -12px !important;
}
.bz-filter:before{
  content: "🞃";
  font-size: 17px;
  position: absolute;
  top: -3px;
  left: 5px;
  margin: 0;
}
.bz-filter:after{
  content: "𝅛";
  font-size: 15px;
  position: absolute;
  top: 5px;
  left: 10px;
  margin: 0;
}
.bz-corner-resize:before{
  content:"◢";
  font-size: 18px;
  color: transparent;
  position: absolute;
  height: 15px;
  width: 15px;
  top: -2px;
}
.bz-corner-resize:hover:before{
  color:#999;
}

.bz-pod:before{
  content: "🧊";
  font-size: 13px;
}

.bz-bell:before{
  content: "🔔";
}