:root {
  --bz-shadow:2px 2px 9px rgba(0,0,0,0.3);
  --active-color:#0069FF;
  --hightlight-color:#CFF;
  --hightlight-background-color:#FFF;
  --border-color: #ccc;
  --bz-border:1px solid #ccc;
  --pillbox-color: #f1f1f1;
  --background-color:#FFF;
  --word-color:#333;
  --even-color:#EEE;
  --header-color:#CCF;
}
html,body{
  height: 100%;
  margin: 0;
  background-color: var(--background-color);
}
body{
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: flex;
  padding: 5px;
}
*{
  border-color: var(--border-color);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track,::-webkit-scrollbar-corner {
  background: transparent; 
}
 
::-webkit-scrollbar-thumb {
  background: #CCC; 
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.1);
}

::-webkit-scrollbar-thumb:hover {
  background: #666; 
}

.prevent-select {
  -webkit-user-select: none; / Safari /
  -ms-user-select: none; / IE 10 and IE 11 /
  user-select: none; / Standard syntax /
}
.bz-panel,
.bz-v-panel{
  width: 100%;
  height: 100%;
  display: flex;
}
.bz-v-panel{
  flex-direction:column;
}
.bz-main-item{
  flex:1;
  padding: 10px;
}
.bz-tab-bar{
  border-bottom: 1px solid;
  display: flex;
  max-width: 100%;
  line-height: 30px;
  padding: 5px 5px;
}
.main-bar{
  padding: 5px 10px;
}
.bz-tab-bar .bz-tab{
  color:var(--text-color);
  padding: 2px 10px;
  display: inline-block;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  text-decoration:none;
  cursor: pointer;
}

.bz-tab-bar .bz-tab.active{
  border-bottom:2px solid var(--active-color);
}

.bz-tab-content{
  flex:1;
  overflow:auto;
}

textarea,.textarea{
  font-family:'Roboto Mono', monospace;
  padding: 5px;
  font-size: 11px;
  border:var(--bz-border);
  white-space:pre;
  resize: none;
}
hr{
  height: 1px;
  border: 0;
  background-color: var(--border-color);
  width: calc(100% - 10px);
  margin: 5px;
}
.btn {
  /**line-height: 1.2; **/
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid;
  padding: 5px 10px;
  font-size: var(--bz-font-size);
  color: var(--word-color);
  letter-spacing: 0.25px;
  border-radius: var(--bz-border-radius);
  font-weight: bold;
  transition: 0.3s;
}

.btn-primary {
  color: #F3F5F8 !important;
  background-color: var(--active-color) !important;
}
.btn-warn{
  color: #F3F5F8;
  background-color: #df3b69
}
.btn-warn:hover {
  background: #D83F5C
}

.btn-secondary {
  border-color: var(--border-color);
  background-color: inherit;
}
.btn-secondary:hover {
  border-color: #21242C; /*replaced #000 *//*#A1A8AB,tmp change*/
}

.input-group-btn .btn {
  width:18px;
  height:18px;
}
.form-control{
  border:1px solid;
}
.input-group .form-control:first-of-type{
  border-top:var(--bz-border);
}

.input-group .form-control{
  border-left:0;
}


textarea:focus,
select:focus,
input:focus {
  border:1px solid #66afe9 !important;
  outline: 0;
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

*[disabled]{
  background-color: var(--border-color) !important;
  cursor: not-allowed;
  color: #888 !important;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  margin:3px 0;
}

.input-group .form-control {
  position: relative;
  padding: 0 5px;
  width:100%;
  z-index: 2;
  float: left;
  margin-bottom: 0;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  border:var(--bz-border);
}

.input-group .form-control:focus {
  z-index: 3;
}
.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group-addon {
  padding: 6px 12px 7px 12px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  background-color:var(--pillbox-color);
  border: var(--bz-border);
  border-radius: var(--bz-border-radius) 0 0 var(--bz-border-radius);
  position: relative;
}
.input-group-addon input[type="checkbox"]{
  margin-top: -2px !important;
  margin-bottom:0;
}
a.input-group-addon{
  padding:0 5px;
}
.input-group-addon.required{
  padding: 7px 12px 6px 12px;
}
.input-group-addon.input-sm {
  padding: 5px 10px;
  font-size: 12px;
}
.input-group-addon.input-lg {
  padding: 10px 16px;
  font-size: 18px;
}
.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
  margin-top: 0;
}
.input-group-addon select{
  height:16px;
}
.input-group-addon:first-child {
  border-right: 0;
}
.input-group-btn>label{
  white-space: nowrap;
  color: var(--bz-black);
  font-size: 13px;
  padding: 8px 5px 8px 0;
}

.input-group-addon.bz-large-size{
  top:0;
}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group-addon:last-child {
  border-left: 0;
}
.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  line-height:0;
}
.input-group-btn > .btn {
  position: relative;
}
.input-group-btn > .btn + .btn {
  margin-left: -1px;
}
.input-group-btn > .btn:hover,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:active {
  z-index: 2;
}
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
  margin-right: -1px;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  z-index: 22;
}
.input-group-addon button{
  margin-left: -8px !important;
  margin-right: 3px;
  cursor: default;
  background-size: 9px !important;
  width: 10px;
  height: 10px;
}
.input-group-addon select{
  border:0;
  background-color:transparent;
}
.input-group textarea.form-control.with-label{
  margin-bottom:-2px;
  border-radius:0 var(--bz-border-radius) var(--bz-border-radius) 0;
}
td.input-group{
  padding:0 !important;
  margin:0;
  border:0 !important;
}
.input-group-addon .btn-icon{
  margin:-3px 4px 0 -3px;
}

.input-group-addon input[type=checkbox]{
  margin:-3px 5px -3px 0
}

.input-group input.form-control{
  height:25px;
  width:calc(100% - 12px);
}
select.form-control{
  height:27px;
}
.re-generate-btn{
  margin: 10px 30px;
  border-radius: 15px;
  padding: 15px;
}

.btn-icon,
.btn-icon-sm,
.btn-icon-half,
.btn-icon-lg {
  border-color: var(--border-color);
  background-color: transparent;
  padding: 0 0 0 0;
  height: 28px;
  width: 28px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: 16px 16px;
}
.btn-icon-lg {
  background-size: 23px 23px !important
}
.bz-none-border{
  border:0 !important;
}

.pull-right{
  float:right;
}

.bz-space{
  flex:1;
}

.bz-small-btn{
  width:20px;
  height:20px;
}

.bz-node-title{
  line-height: 30px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bz-node-title:hover{
  text-decoration: underline;
}
textarea,.textarea,
pre {
  -moz-tab-size : 2;
  -o-tab-size : 2;
  tab-size : 2;
  font-family: monospace;
  margin: 0;
  word-break: break-all;
  white-space: pre-wrap;
}
.even{
  background-color: var(--even-color);
}
.bz-ex-ctl-panel{
  white-space: nowrap;
  height:20px;
  padding: 5px 0;
}
.bz-ex-ctl-panel input{
  min-width:100px;
  margin-right:5px;
  position: relative;
  top: -4px;
}
.bz-ex-ctl-panel button{
  position: relative;
  top: -5px;
}
.bz-list-row{
  display: flex;
}
.bz-list-row:hover{
  background-color:var(--hightlight-color);
}

.bz-list-row:hover .bz-row-star{
  display:none;
}
.bz-list-content{
  padding-left: 20px;
}

.bz-details-panel{
  overflow: auto;
  border-left:var(--bz-border);
  padding: 5px;
  flex: 2;
  width:50px;
}

.bz-press{
  border:2px inset #999 !important;
  border-radius: 5px;
  color: #00F;
  background-color: #CCF;
}

.bz-ondropping{
  border:2px dashed #888 !important;
}

.bz-panel-header{
  line-height: 22px;
  display: flex;
  border-bottom: var(--bz-border);
  padding: 1px 5px 2px 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: var(--header-color);
  font-weight: bold;
  margin-bottom:2px;
}

.bz-panel-content{
  flex:1;
  overflow: auto;
}

.bz-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index:2147;
}
.bz-modal-window {
  text-align: left;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  max-width: 100%;
  height: 600px;
  max-height: 100%;
  background-color: var(--hightlight-background-color);
  border: var(--bz-border);
  border-radius: 3px;
  box-shadow: var(--bz-shadow);
  z-index:2100;
}
.bz-modal-header {
  height: 55px;
  font-size: 13px;
  line-height: 60px;
  border-bottom: var(--bz-border);
  padding: 0px 20px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-weight: bold;
}
.bz-modal-window .bz-modal-body {
  box-sizing: border-box;
  position: absolute;
  top: 55px;
  bottom: 55px;
  left: 0;
  right: 0;
  padding: 10px 12px;
  z-index: 1000;
  overflow:auto;
}
header{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex:1;
  cursor:default;
}
.bz-modal-body a{
  text-decoration:underline;
  line-height: 20px;
}
.bz-modal-body pre {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  height:100%;
}

.bz-modal-window .bz-modal-footer {
  position: absolute;
  border-top: var(--bz-border);
  bottom: 0;
  left: 0;
  right: 0;
  padding: 14px;
  z-index:111;
   /** matsl  padding: 0.8rem 1.5rem;**/
}
.bz-modal-window .bz-content-group>a{
  padding:5px 10px 0px 10px;
  width:calc(100% - 20px);
}
.bz-modal-window textarea.bz-large-editor{
  width: calc(100% - 31px) !important;
  left: 10px !important;
  top: 65px !important;
  height: calc(100% - 150px) !important;
}
.bz-log-repeat{
  border-radius: 10px;
  color:var(--background-color);
  background-color: red;
  min-width: 13px;
  display: block;
  float: right;
  text-align: center;
  padding: 0px;
  font-weight: bold;
  font-size: 11px;
  margin-right: 5px;
  white-space: nowrap;
  border: 1px solid red;
}
.bz-oneline-input{
  border:0;
  border-bottom:var(--bz-border);
  padding: 5px;
}
.bz-oneline-input:focus{
  outline: none;
  border-left:0px !important;
  border-right:0px !important;
  border-top:0px !important;
}
.bz-menu-panel{
  z-index:1111;
  position:absolute;
  box-shadow: var(--bz-shadow);
  margin-top:3px;
  padding: 2px;
  background-color: var(--background-color);
  color:var(--word-color);
}
.bz-menu-item{
  cursor:pointer;
  padding: 5px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bz-menu-item span{
  position: relative;
  top: 2px;
}
.bz-menu-item:hover span{
  text-decoration: underline;
}
.bz-menu-item:hover{
  background-color: var(--hightlight-color);
}

button.btn.bz-none-border:hover{
  border-radius:20px;
  background-color: var(--hightlight-color);
}

.bz-item-row{
  display:flex;
  margin-top:5px;
  flex-direction:column;
  padding:5px;
}
.bz-item-row *{
  background-color: transparent;
}
.bz-item-row:nth-child(even){
  background-color: var(--even-color);
}
.bz-namespace-box{
  width:calc(30% + 9px);
  display:flex;
}
.bz-namespace-box label{
  width:unset;
}

.bz-item-filter{
  height: 25px;
  top: 3px;
  width:calc(30% - 5px);
  position: relative;
  margin-right:3px;
  margin-right: 15px;
}

@media (max-width: 950px) {
  .bz-namespace-box{
    width:calc(40% + 9px);
  }

  .bz-item-filter{
    width:calc(40% - 5px);
  }
}

@media (max-width: 600px) {
  .bz-namespace-box{
    width:calc(50% + 9px);
  }
  .bz-namespace-box label{
    display:none;
  }

  .bz-item-filter{
    width:calc(50% - 5px);
  }
}

.bz-main{
  width: 40px;
  height: 40px;
  background-size: 30px;
  position: absolute;
  top:5px;
  left:12px;
}
.bz-main.bz-loading{
  background-size: 40px;
}

.bz-main-header{
  flex: 1;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-indent: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

label>input[type=checkbox]{
  margin-right: 10px;
  position: relative;
  top: 2px;
}
.bz-precentage-bar{
  background: green;
  position: relative;
  height: 27px;
}
.bz-precentage-bar:after{
  content:attr(precentage);
  color: #FFF;
  overflow:hidden;
  white-space: nowrap;
  margin-top: -21px;
  margin-right: 5px;
  float: right;
}
.input-group-btn .btn-icon{
  width: 24px !important;
  height: 24px !important;
  margin: 2px !important;
  border-radius: 20px !important;
}

.bz-highlight{
  background-color: yellow;
}

.bz-corner-resize{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 15px;
  z-index: 11111;
  cursor: se-resize;
}
.textarea{
  overflow-y: auto;
}
.bz-list-box{
  flex:1;
  overflow:auto;
}
.bz-cmd-item{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  tab-size : 2;
  font-family: monospace;
}

.bz-middle-btn{
  width: 20px;
  height: 20px;
  margin: 7px 5px 0 5px;
}

.bz-list-row.bz-highlight{
  color: var(--word-color);
  background-color: var(--hightlight-color);
}
.bz-hover-item{
  display:none;
}
.bz-list-row:hover .bz-hover-item{
  display:block;
}

.bz-bell.bz-press{
  background-color: #F00; 
}

.bz-splitter-v,.bz-splitter-h{
  position: relative;
  left:4px;
  background-color: transparent;  
  z-index:1111;
}
.bz-splitter-v{
  width: 5px;
  height: 100%;
  cursor: col-resize;
}
.bz-splitter-h{
  height: 5px;
  width: 100%;
  cursor: row-resize;
  top:4px;
}
.bz-splitter-v:hover,
.bz-splitter-h:hover{
  background-color: var(--active-color) !important;
}


@media (prefers-color-scheme: dark) {
  body,textarea,input,select{
    background-color:var(--background-color);
    color:#CCC;
  }
  *{
    border-color:#333 !important;
  }
  :root {
    --bz-shadow:2px 2px 9px rgba(255,255,255,0.3);
    --active-color:#494;
    --border-color: #333;
    --hightlight-color:#300;
    --hightlight-background-color:#111;
    --bz-border:1px solid #333;
    --pillbox-color: #333;
    --background-color:#1f1f1f;
    --word-color:#CCC;
    --even-color:#111;
    --header-color:#CCC;
  }
  
  .bz-item-row:nth-child(even) {
    background-color: #111;
  }
  .bz-panel-header{
    background-color: #333;
  }  
  .btn-icon:before{
    color:#CCC !important;
  }
  .btn-icon:after{
    color:#CCC !important;
  }

  ::-webkit-scrollbar-thumb {
    background: #555; 
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #999; 
  }

  .bz-menu-panel{
    background-color: #111;
    color:#CCC;
  }
  .bz-menu-item:hover {
    background-color: #333;
  }

  .bz-logo{
    background-image: url(data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20id%3D%22logo%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2060%2060%22%3E%20%20%3Cdefs%3E%20%20%20%20%3Cstyle%3E%20%20%20%20%20%20.cls-1%20%7B%20%20%20%20%20%20%20%20fill%3A%20rgba%280%2C0%2C0%2C0%29%3B%20%20%20%20%20%20%7D%20%20%20%20%20%20.cls-2%20%7B%20%20%20%20%20%20%20%20fill%3A%20%23fff%3B%20%20%20%20%20%20%20%20fill-rule%3A%20evenodd%3B%20%20%20%20%20%20%7D%20%20%20%20%3C%2Fstyle%3E%20%20%3C%2Fdefs%3E%20%20%3Crect%20id%3D%22Rectangle_63%22%20data-name%3D%22Rectangle%2063%22%20class%3D%22cls-1%22%20width%3D%2260%22%20height%3D%2260%22%2F%3E%20%20%3Cg%20id%3D%22Group_66%22%20data-name%3D%22Group%2066%22%3E%20%20%20%20%3Cg%20id%3D%22Group_64%22%20data-name%3D%22Group%2064%22%3E%20%20%20%20%20%20%3Cpath%20id%3D%22Path_270%22%20data-name%3D%22Path%20270%22%20class%3D%22cls-2%22%20d%3D%22M19.262%2C35.23c-.016.316-.029.578-.043.863h-3.15c-.008-.127-.022-.247-.022-.371%2C0-4.142-.026-8.285.01-12.427a5.97%2C5.97%2C0%2C0%2C1%2C3.683-5.79%2C6.347%2C6.347%2C0%2C0%2C1%2C4.6-.219c-.4.937-.794%2C1.874-1.188%2C2.8-2.637-.474-4.322%2C1.773-3.853%2C4.433a9.1%2C9.1%2C0%2C0%2C1%2C1.354-.692%2C5.839%2C5.839%2C0%2C0%2C1%2C6.213%2C1.5%2C6.416%2C6.416%2C0%2C0%2C1-2.626%2C10.7%2C5.17%2C5.17%2C0%2C0%2C1-4.773-.708A1.744%2C1.744%2C0%2C0%2C0%2C19.262%2C35.23Zm3.178-8.483a3.168%2C3.168%2C0%2C1%2C0-.013%2C6.336%2C3.17%2C3.17%2C0%2C0%2C0%2C.013-6.336Z%22%2F%3E%20%20%20%20%3C%2Fg%3E%20%20%20%20%3Cg%20id%3D%22Group_65%22%20data-name%3D%22Group%2065%22%3E%20%20%20%20%20%20%3Cpath%20id%3D%22Path_271%22%20data-name%3D%22Path%20271%22%20class%3D%22cls-2%22%20d%3D%22M40.709%2C24.675c.015-.316.028-.579.044-.863H43.9c.007.126.021.248.021.37%2C0%2C4.143.024%2C8.285-.01%2C12.427A5.971%2C5.971%2C0%2C0%2C1%2C40.228%2C42.4a6.352%2C6.352%2C0%2C0%2C1-4.6.22q.594-1.407%2C1.188-2.8c2.636.474%2C4.321-1.773%2C3.853-4.433a9.162%2C9.162%2C0%2C0%2C1-1.355.693A5.833%2C5.833%2C0%2C0%2C1%2C33.1%2C34.57a6.413%2C6.413%2C0%2C0%2C1%2C2.625-10.7%2C5.167%2C5.167%2C0%2C0%2C1%2C4.773.707A1.631%2C1.631%2C0%2C0%2C0%2C40.709%2C24.675Zm-3.178%2C8.482a3.168%2C3.168%2C0%2C1%2C0%2C.012-6.336%2C3.17%2C3.17%2C0%2C0%2C0-.012%2C6.336Z%22%2F%3E%20%20%20%20%3C%2Fg%3E%20%20%3C%2Fg%3E%3C%2Fsvg%3E)!important;
    background-repeat: no-repeat;
    background-size: 60px;
  }
  .bz-modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255, 0.15);
    z-index:2147;
  }
   
}